<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>签到</title>
</head>
<body>
<form id="form" action="#" method="POST">
输入学号：
<br/>
<input type="" name="xh">
<br/>
<input id="imei" name="imei">
<br/>
<input id="position" name="position">
<br/>
<br/>
<button onclick="jump()">签到</button>
</form>
<script type="text/javascript">
function jump(){
	var xh = document.getElementById("xh")
	var imei = document.getElementById("imei");
	var form =document.getElementById("form");
	// 只要成功获取到了位置就可提交，做为测试，否则还需学号与imei且不可见
	getLocation();
	form.submit();
	}
</script>
<script>
var x=document.getElementById("demo");
function getLocation()
{
	if (navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(showPosition);
	}
	else
	{
		alert("手机没有打开位置");
		window.location.reload();
	}
}

function showPosition(pos)
{
	var latitude = document.getElementById("latitude");
	var longitude= document.getElementById("longitude");
	// 纬度
	latitude.value = pos.coords.latitude;
	// 经度
	longitude.value = pos.coords.longitude;
}
</script>
</body>
</html>