<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>签到</title>
<script type="text/javascript" src='jquery.min.js'></script>
</head>
<body>
<p id="demo"></p>
<script>
$(document).ready(function(){
	if (navigator.geolocation){
		navigator.geolocation.getCurrentPosition(getpos,errorlog);
	}
check();
});
var pos=[];
function errorlog(){
	alert('位置信息获取失败，请打开位置服务后刷新');
}
function getpos(posi){
	//位置加载成功
	pos = [posi.coords.latitude,position.coords.longitude];
    console.log(pos);
    return pos;
}
function gettime(){
	var d =new Date();
	var n=d.getTime();
	return n;
}
// 首先开始检查函数，确认信息都正确获得，然后开始调用上传函数，一次

function check(){
	time =gettime();
	if(pos !=[] && time !=""){
		var dat ={'time':time,'position':pos};
		upload(dat);
	}
	else{
		alert("js error");
	}
}
function upload(dat){
	$.post("/data/", dat);
}
</script>
</body>
</html>
